<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.EfpJpInvoiceCopyMapper">
    <resultMap id="BaseResultMap" type="model.EfpJpInvoiceCopy">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="fpdm" property="fpdm" jdbcType="VARCHAR"/>
        <result column="fphm" property="fphm" jdbcType="VARCHAR"/>
        <result column="bz" property="bz" jdbcType="INTEGER"/>
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR"/>
        <result column="qqlsh" property="qqlsh" jdbcType="VARCHAR"/>
        <result column="kpresult" property="kpresult" jdbcType="VARCHAR"/>
        <result column="parm1" property="parm1" jdbcType="VARCHAR"/>
        <result column="parm2" property="parm2" jdbcType="VARCHAR"/>
        <result column="parm3" property="parm3" jdbcType="VARCHAR"/>
        <result column="parm4" property="parm4" jdbcType="VARCHAR"/>
        <result column="parm5" property="parm5" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="kp_json" property="kpJson" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cd_efp_jp_invoice_copy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, fpdm, fphm, bz, nsrsbh, qqlsh, kpresult, parm1, parm2, parm3, parm4, parm5, 
    create_time, kp_json
    from cd_efp_jp_invoice_copy
  </select>


    <select id="selectSelective" resultMap="BaseResultMap" parameterType="model.EfpJpInvoiceCopy">
        select id, fpdm, fphm, bz, nsrsbh, qqlsh, kpresult, parm1, parm2, parm3, parm4, parm5,
        create_time, kp_json
        from cd_efp_jp_invoice_copy
        <where>
            <if test="id != null">id = #{id,jdbcType=VARCHAR}</if>
            <if test="fpdm != null">and fpdm = #{fpdm,jdbcType=VARCHAR}</if>
            <if test="fphm != null">and fphm = #{fphm,jdbcType=VARCHAR}</if>
            <if test="bz != null">  and bz = #{bz,jdbcType=INTEGER}</if>
            <if test="nsrsbh != null">and nsrsbh = #{nsrsbh,jdbcType=VARCHAR}</if>
            <if test="qqlsh != null">and qqlsh = #{qqlsh,jdbcType=VARCHAR}</if>
            <if test="kpresult != null">and kpresult = #{kpresult,jdbcType=VARCHAR}</if>
            <if test="parm1 != null">and parm1 = #{parm1,jdbcType=VARCHAR}</if>
            <if test="parm2 != null">and parm2 = #{parm2,jdbcType=VARCHAR}</if>
            <if test="parm3 != null">and parm3 = #{parm3,jdbcType=VARCHAR}</if>
            <if test="parm4 != null">and parm4 = #{parm4,jdbcType=VARCHAR}</if>
            <if test="parm5 != null">and parm5 = #{parm5,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time = #{createTime,jdbcType=TIMESTAMP}</if>
            <if test="kpJson != null">and kp_json = #{kpJson,jdbcType=LONGVARCHAR}</if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="model.EfpJpInvoiceCopy" useGeneratedKeys="true">

        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select replace(uuid(),'-','') from dual
        </selectKey>

        insert into cd_efp_jp_invoice_copy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fpdm != null">fpdm,</if>
            <if test="fphm != null">fphm,</if>
            <if test="bz != null">bz,</if>
            <if test="nsrsbh != null">nsrsbh,</if>
            <if test="qqlsh != null">qqlsh,</if>
            <if test="kpresult != null">kpresult,</if>
            <if test="parm1 != null">parm1,</if>
            <if test="parm2 != null">parm2,</if>
            <if test="parm3 != null">parm3,</if>
            <if test="parm4 != null">parm4,</if>
            <if test="parm5 != null">parm5,</if>
            <if test="createTime != null">create_time,</if>
            <if test="kpJson != null">kp_json,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="fpdm != null">#{fpdm,jdbcType=VARCHAR},</if>
            <if test="fphm != null">#{fphm,jdbcType=VARCHAR},</if>
            <if test="bz != null">#{bz,jdbcType=INTEGER},</if>
            <if test="nsrsbh != null">#{nsrsbh,jdbcType=VARCHAR},</if>
            <if test="qqlsh != null">#{qqlsh,jdbcType=VARCHAR},</if>
            <if test="kpresult != null">#{kpresult,jdbcType=VARCHAR},</if>
            <if test="parm1 != null">#{parm1,jdbcType=VARCHAR},</if>
            <if test="parm2 != null">#{parm2,jdbcType=VARCHAR},</if>
            <if test="parm3 != null">#{parm3,jdbcType=VARCHAR},</if>
            <if test="parm4 != null">#{parm4,jdbcType=VARCHAR},</if>
            <if test="parm5 != null">#{parm5,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="kpJson != null">#{kpJson,jdbcType=LONGVARCHAR},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="model.EfpJpInvoiceCopy">
        update cd_efp_jp_invoice_copy
        <set>
            <if test="id != null and id != ''">id = #{id,jdbcType=VARCHAR},</if>
            <if test="fpdm != null and fpdm != ''">fpdm = #{fpdm,jdbcType=VARCHAR},</if>
            <if test="fphm != null and fphm != ''">fphm = #{fphm,jdbcType=VARCHAR},</if>
            <if test="bz != null and bz != ''">bz = #{bz,jdbcType=INTEGER},</if>
            <if test="nsrsbh != null and nsrsbh != ''">nsrsbh = #{nsrsbh,jdbcType=VARCHAR},</if>
            <if test="qqlsh != null and qqlsh != ''">qqlsh = #{qqlsh,jdbcType=VARCHAR},</if>
            <if test="kpresult != null and kpresult != ''">kpresult = #{kpresult,jdbcType=VARCHAR},</if>
            <if test="parm1 != null and parm1 != ''">parm1 = #{parm1,jdbcType=VARCHAR},</if>
            <if test="parm2 != null and parm2 != ''">parm2 = #{parm2,jdbcType=VARCHAR},</if>
            <if test="parm3 != null and parm3 != ''">parm3 = #{parm3,jdbcType=VARCHAR},</if>
            <if test="parm4 != null and parm4 != ''">parm4 = #{parm4,jdbcType=VARCHAR},</if>
            <if test="parm5 != null and parm5 != ''">parm5 = #{parm5,jdbcType=VARCHAR},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="kpJson != null and kpJson != ''">kp_json = #{kpJson,jdbcType=LONGVARCHAR},</if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>