<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.EfpJpInvoiceMapper">
    <resultMap id="BaseResultMap" type="model.EfpJpInvoice">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="wspzhm" property="wspzhm" jdbcType="VARCHAR"/>
        <result column="fp_jym" property="fpJym" jdbcType="VARCHAR"/>
        <result column="jqbh" property="jqbh" jdbcType="VARCHAR"/>
        <result column="fpdm" property="fpdm" jdbcType="VARCHAR"/>
        <result column="fphm" property="fphm" jdbcType="VARCHAR"/>
        <result column="kprq" property="kprq" jdbcType="DATE"/>
        <result column="jshj" property="jshj" jdbcType="DECIMAL"/>
        <result column="hjse" property="hjse" jdbcType="DECIMAL"/>
        <result column="hjje" property="hjje" jdbcType="DECIMAL"/>
        <result column="sl" property="sl" jdbcType="DECIMAL"/>
        <result column="gfsh" property="gfsh" jdbcType="VARCHAR"/>
        <result column="gfmc" property="gfmc" jdbcType="VARCHAR"/>
        <result column="xfsh" property="xfsh" jdbcType="VARCHAR"/>
        <result column="xfmc" property="xfmc" jdbcType="VARCHAR"/>
        <result column="xfdz_dh" property="xfdzDh" jdbcType="VARCHAR"/>
        <result column="xfyhmc_yhzh" property="xfyhmcYhzh" jdbcType="VARCHAR"/>
        <result column="swjgdm" property="swjgdm" jdbcType="VARCHAR"/>
        <result column="swjgmc" property="swjgmc" jdbcType="VARCHAR"/>
        <result column="mw" property="mw" jdbcType="VARCHAR"/>
        <result column="zf_bz" property="zfBz" jdbcType="INTEGER"/>
        <result column="skr" property="skr" jdbcType="VARCHAR"/>
        <result column="fhr" property="fhr" jdbcType="VARCHAR"/>
        <result column="kpr" property="kpr" jdbcType="VARCHAR"/>
        <result column="tsnsrsbh" property="tsnsrsbh" jdbcType="VARCHAR"/>
        <result column="bz" property="bz" jdbcType="VARCHAR"/>
        <result column="czy_id" property="czyId" jdbcType="VARCHAR"/>
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR"/>
        <result column="skm" property="skm" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="parm1" property="parm1" jdbcType="VARCHAR"/>
        <result column="parm2" property="parm2" jdbcType="VARCHAR"/>
        <result column="parm3" property="parm3" jdbcType="VARCHAR"/>
        <result column="parm4" property="parm4" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cd_efp_jp_invoice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, wspzhm, fp_jym, jqbh, fpdm, fphm, kprq, jshj, hjse, hjje, sl, gfsh, gfmc, 
    xfsh, xfmc, xfdz_dh, xfyhmc_yhzh, swjgdm, swjgmc, mw, zf_bz, skr, fhr, kpr, tsnsrsbh, 
    bz, czy_id, phone_no, skm, create_time, parm1, parm2, parm3, parm4
    from cd_efp_jp_invoice
  </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="model.EfpJpInvoice">
        select id, wspzhm, fp_jym, jqbh, fpdm, fphm, kprq, jshj, hjse, hjje, sl, gfsh, gfmc,
        xfsh, xfmc, xfdz_dh, xfyhmc_yhzh, swjgdm, swjgmc, mw, zf_bz, skr, fhr, kpr, tsnsrsbh,
        bz, czy_id, phone_no, skm, create_time, parm1, parm2, parm3, parm4
        from cd_efp_jp_invoice

        <where>
            <if test="id != null">id = #{id,jdbcType=VARCHAR}</if>
            <if test="wspzhm != null">and wspzhm = #{wspzhm,jdbcType=VARCHAR}</if>
            <if test="fpJym != null">and fp_jym = #{fpJym,jdbcType=VARCHAR}</if>
            <if test="jqbh != null">and jqbh = #{jqbh,jdbcType=VARCHAR}</if>
            <if test="fpdm != null">and fpdm = #{fpdm,jdbcType=VARCHAR}</if>
            <if test="fphm != null">and fphm = #{fphm,jdbcType=VARCHAR}</if>
            <if test="kprq != null">and kprq = #{kprq,jdbcType=DATE}</if>
            <if test="jshj != null">and jshj = #{jshj,jdbcType=DECIMAL}</if>
            <if test="hjse != null">and hjse = #{hjse,jdbcType=DECIMAL}</if>
            <if test="hjje != null">and hjje = #{hjje,jdbcType=DECIMAL}</if>
            <if test="sl != null">and sl = #{sl,jdbcType=DECIMAL}</if>
            <if test="gfsh != null">and gfsh = #{gfsh,jdbcType=VARCHAR}</if>
            <if test="gfmc != null">and gfmc = #{gfmc,jdbcType=VARCHAR}</if>
            <if test="xfsh != null">and xfsh = #{xfsh,jdbcType=VARCHAR}</if>
            <if test="xfmc != null">and xfmc = #{xfmc,jdbcType=VARCHAR}</if>
            <if test="xfdzDh != null">and xfdz_dh = #{xfdzDh,jdbcType=VARCHAR}</if>
            <if test="xfyhmcYhzh != null">and xfyhmc_yhzh = #{xfyhmcYhzh,jdbcType=VARCHAR}</if>
            <if test="swjgdm != null">and swjgdm = #{swjgdm,jdbcType=VARCHAR}</if>
            <if test="swjgmc != null">and swjgmc = #{swjgmc,jdbcType=VARCHAR}</if>
            <if test="mw != null">and mw = #{mw,jdbcType=VARCHAR}</if>
            <if test="zfBz != null">and zf_bz = #{zfBz,jdbcType=INTEGER}</if>
            <if test="skr != null">and skr = #{skr,jdbcType=VARCHAR}</if>
            <if test="fhr != null">and fhr = #{fhr,jdbcType=VARCHAR}</if>
            <if test="kpr != null">and kpr = #{kpr,jdbcType=VARCHAR}</if>
            <if test="tsnsrsbh != null">and tsnsrsbh = #{tsnsrsbh,jdbcType=VARCHAR}</if>
            <if test="bz != null">and bz = #{bz,jdbcType=VARCHAR}</if>
            <if test="czyId != null">and czy_id = #{czyId,jdbcType=VARCHAR}</if>
            <if test="phoneNo != null">and phone_no = #{phoneNo,jdbcType=VARCHAR}</if>
            <if test="skm != null">and skm = #{skm,jdbcType=VARCHAR}</if>
            <if test="createTime != null">and create_time = #{createTime,jdbcType=TIMESTAMP}</if>
            <if test="parm1 != null">and parm1 = #{parm1,jdbcType=VARCHAR}</if>
            <if test="parm2 != null">and parm2 = #{parm2,jdbcType=VARCHAR}</if>
            <if test="parm3 != null">and parm3 = #{parm3,jdbcType=VARCHAR}</if>
            <if test="parm4 != null">and parm4 = #{parm4,jdbcType=VARCHAR}</if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="model.EfpJpInvoice" useGeneratedKeys="true">

        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select replace(uuid(),'-','') from dual
        </selectKey>

        insert into cd_efp_jp_invoice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="wspzhm != null">wspzhm,</if>
            <if test="fpJym != null">fp_jym,</if>
            <if test="jqbh != null">jqbh,</if>
            <if test="fpdm != null">fpdm,</if>
            <if test="fphm != null">fphm,</if>
            <if test="kprq != null">kprq,</if>
            <if test="jshj != null">jshj,</if>
            <if test="hjse != null">hjse,</if>
            <if test="hjje != null">hjje,</if>
            <if test="sl != null">sl,</if>
            <if test="gfsh != null">gfsh,</if>
            <if test="gfmc != null">gfmc,</if>
            <if test="xfsh != null">xfsh,</if>
            <if test="xfmc != null">xfmc,</if>
            <if test="xfdzDh != null">xfdz_dh,</if>
            <if test="xfyhmcYhzh != null">xfyhmc_yhzh,</if>
            <if test="swjgdm != null">swjgdm,</if>
            <if test="swjgmc != null">swjgmc,</if>
            <if test="mw != null">mw,</if>
            <if test="zfBz != null">zf_bz,</if>
            <if test="skr != null">skr,</if>
            <if test="fhr != null">fhr,</if>
            <if test="kpr != null">kpr,</if>
            <if test="tsnsrsbh != null">tsnsrsbh,</if>
            <if test="bz != null">bz,</if>
            <if test="czyId != null">czy_id,</if>
            <if test="phoneNo != null">phone_no,</if>
            <if test="skm != null">skm,</if>
            <if test="createTime != null">create_time,</if>
            <if test="parm1 != null">parm1,</if>
            <if test="parm2 != null">parm2,</if>
            <if test="parm3 != null">parm3,</if>
            <if test="parm4 != null">parm4,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="wspzhm != null">#{wspzhm,jdbcType=VARCHAR},</if>
            <if test="fpJym != null">#{fpJym,jdbcType=VARCHAR},</if>
            <if test="jqbh != null">#{jqbh,jdbcType=VARCHAR},</if>
            <if test="fpdm != null">#{fpdm,jdbcType=VARCHAR},</if>
            <if test="fphm != null">#{fphm,jdbcType=VARCHAR},</if>
            <if test="kprq != null">#{kprq,jdbcType=DATE},</if>
            <if test="jshj != null">#{jshj,jdbcType=DECIMAL},</if>
            <if test="hjse != null">#{hjse,jdbcType=DECIMAL},</if>
            <if test="hjje != null">#{hjje,jdbcType=DECIMAL},</if>
            <if test="sl != null">#{sl,jdbcType=DECIMAL},</if>
            <if test="gfsh != null">#{gfsh,jdbcType=VARCHAR},</if>
            <if test="gfmc != null">#{gfmc,jdbcType=VARCHAR},</if>
            <if test="xfsh != null">#{xfsh,jdbcType=VARCHAR},</if>
            <if test="xfmc != null">#{xfmc,jdbcType=VARCHAR},</if>
            <if test="xfdzDh != null">#{xfdzDh,jdbcType=VARCHAR},</if>
            <if test="xfyhmcYhzh != null">#{xfyhmcYhzh,jdbcType=VARCHAR},</if>
            <if test="swjgdm != null">#{swjgdm,jdbcType=VARCHAR},</if>
            <if test="swjgmc != null">#{swjgmc,jdbcType=VARCHAR},</if>
            <if test="mw != null">#{mw,jdbcType=VARCHAR},</if>
            <if test="zfBz != null">#{zfBz,jdbcType=INTEGER},</if>
            <if test="skr != null">#{skr,jdbcType=VARCHAR},</if>
            <if test="fhr != null">#{fhr,jdbcType=VARCHAR},</if>
            <if test="kpr != null">#{kpr,jdbcType=VARCHAR},</if>
            <if test="tsnsrsbh != null">#{tsnsrsbh,jdbcType=VARCHAR},</if>
            <if test="bz != null">#{bz,jdbcType=VARCHAR},</if>
            <if test="czyId != null">#{czyId,jdbcType=VARCHAR},</if>
            <if test="phoneNo != null">#{phoneNo,jdbcType=VARCHAR},</if>
            <if test="skm != null">#{skm,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="parm1 != null">#{parm1,jdbcType=VARCHAR},</if>
            <if test="parm2 != null">#{parm2,jdbcType=VARCHAR},</if>
            <if test="parm3 != null">#{parm3,jdbcType=VARCHAR},</if>
            <if test="parm4 != null">#{parm4,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="model.EfpJpInvoice">
        update cd_efp_jp_invoice
        <set>
            <if test="id != null and id != ''">id = #{id,jdbcType=VARCHAR},</if>
            <if test="wspzhm != null and wspzhm != ''">wspzhm = #{wspzhm,jdbcType=VARCHAR},</if>
            <if test="fpJym != null and fpJym != ''">fp_jym = #{fpJym,jdbcType=VARCHAR},</if>
            <if test="jqbh != null and jqbh != ''">jqbh = #{jqbh,jdbcType=VARCHAR},</if>
            <if test="fpdm != null and fpdm != ''">fpdm = #{fpdm,jdbcType=VARCHAR},</if>
            <if test="fphm != null and fphm != ''">fphm = #{fphm,jdbcType=VARCHAR},</if>
            <if test="kprq != null and kprq != ''">kprq = #{kprq,jdbcType=DATE},</if>
            <if test="jshj != null and jshj != ''">jshj = #{jshj,jdbcType=DECIMAL},</if>
            <if test="hjse != null and hjse != ''">hjse = #{hjse,jdbcType=DECIMAL},</if>
            <if test="hjje != null and hjje != ''">hjje = #{hjje,jdbcType=DECIMAL},</if>
            <if test="sl != null and sl != ''">sl = #{sl,jdbcType=DECIMAL},</if>
            <if test="gfsh != null and gfsh != ''">gfsh = #{gfsh,jdbcType=VARCHAR},</if>
            <if test="gfmc != null and gfmc != ''">gfmc = #{gfmc,jdbcType=VARCHAR},</if>
            <if test="xfsh != null and xfsh != ''">xfsh = #{xfsh,jdbcType=VARCHAR},</if>
            <if test="xfmc != null and xfmc != ''">xfmc = #{xfmc,jdbcType=VARCHAR},</if>
            <if test="xfdzDh != null and xfdzDh != ''">xfdz_dh = #{xfdzDh,jdbcType=VARCHAR},</if>
            <if test="xfyhmcYhzh != null and xfyhmcYhzh != ''">xfyhmc_yhzh = #{xfyhmcYhzh,jdbcType=VARCHAR},</if>
            <if test="swjgdm != null and swjgdm != ''">swjgdm = #{swjgdm,jdbcType=VARCHAR},</if>
            <if test="swjgmc != null and swjgmc != ''">swjgmc = #{swjgmc,jdbcType=VARCHAR},</if>
            <if test="mw != null and mw != ''">mw = #{mw,jdbcType=VARCHAR},</if>
            <if test="zfBz != null and zfBz != ''">zf_bz = #{zfBz,jdbcType=INTEGER},</if>
            <if test="skr != null and skr != ''">skr = #{skr,jdbcType=VARCHAR},</if>
            <if test="fhr != null and fhr != ''">fhr = #{fhr,jdbcType=VARCHAR},</if>
            <if test="kpr != null and kpr != ''">kpr = #{kpr,jdbcType=VARCHAR},</if>
            <if test="tsnsrsbh != null and tsnsrsbh != ''">tsnsrsbh = #{tsnsrsbh,jdbcType=VARCHAR},</if>
            <if test="bz != null and bz != ''">bz = #{bz,jdbcType=VARCHAR},</if>
            <if test="czyId != null and czyId != ''">czy_id = #{czyId,jdbcType=VARCHAR},</if>
            <if test="phoneNo != null and phoneNo != ''">phone_no = #{phoneNo,jdbcType=VARCHAR},</if>
            <if test="skm != null and skm != ''">skm = #{skm,jdbcType=VARCHAR},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="parm1 != null and parm1 != ''">parm1 = #{parm1,jdbcType=VARCHAR},</if>
            <if test="parm2 != null and parm2 != ''">parm2 = #{parm2,jdbcType=VARCHAR},</if>
            <if test="parm3 != null and parm3 != ''">parm3 = #{parm3,jdbcType=VARCHAR},</if>
            <if test="parm4 != null and parm4 != ''">parm4 = #{parm4,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>